* {
    margin: 0;
    padding: 0;
}
a {
    color:#fff;  
}
p{
    margin: 0;
}
div {
    display: block;
}

.header {
    height: 50px;
    background-color: #313642;
}
.header .user {
    position: absolute;
    top: 20px;
    right: 50px;
    color: #fff;
}
.header .logout {
    cursor: pointer;
    margin-left: 10px
}
.user a:hover,.user a:focus{
    color: red;
    text-decoration:none;
}
.glyphicon-user:before{
    color: #fff
}
/*.left-container*/
.left-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #50586b;
    overflow-y: auto;
}

.left-container ul {
    margin-top: 30px;
}

/*.left-container #present {
    background-color: #ff5d17;
}*/

.nav>li>a:hover{
    background-color: #ff5d17;
    color:#fff;
}

.left-container .nav a {
    background-color: #373d4a;
    text-align: center;
    color: #fff;
 
}
.nav-pills > li > a{
    border-radius: 0
}
/*.right-container*/
.right-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 200px;
    right: 0;
    overflow-y: auto;
    margin-left: 10px;
}

.right-container .first-section {
    margin-top: 70px;
    width: 100%;
    height: 50px;
}

.right-container .first-section .first-left {
    margin-left: 5px;
    float: left;
}

.first-left select {
    font-size: 12px;

}
.first-left .search #auto_div{
    width: 100%;
    border: 1px #74c0f9 solid;
    background: #FFF;
    position: absolute;
    top: 35px;
    left: 0;
    color: #323232;
}
.first-left .search .btn {
    margin-left: 5px;
     background-color: #5788ff;
}
.glyphicon-search:before {
    color:#fff;
}

/*first-left end*/
.first-right {
    float: right;
    margin-right: 10px;
}
/*.second-section begin*/
.second-section {
    margin-top: 40px;
}
.second-section .table .title{
    background-color: #fafafa;

}
.second-section .table td{
    /*border :1px #dadada solid; */
}
.second-section .table .title th {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color:#333333;
    height: 36px;
    border-top :1px #dadada solid; 
}

.second-section .table td {
    text-align: center;
    vertical-align:middle;
    position: relative;
}
.second-section .table #type {
    display: block;
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
}
/*确认删除*/
.second-section .confirm {
    position:fixed;
    top: 40%;
    right:20%;
    background-color: #bbb;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    opacity: 0.88;

}
.second-section .confirm p {
    font-family: "微软雅黑" ;
    font-size: 20px;
    text-align: center;
}
.second-section .confirm .btn {
    margin-top: 5%;
    margin-left: 10% 
}
/*分页*/
.third-section {
    float: right;
    margin-right: 45%;
}

nav {
position: relative;
width:100%;
height: 50px;
}
/*.pagination {
right: 0px;
position: absolute;
top: -30px;
}*/
nav li {
cursor: pointer;
}

/*addClient*/
.client {
    margin: 70px 0 0 20px;
}
.client .sign{
    color:#f00;
    margin-right: 10px;
}
.client .contact{
    float: left;
}

.client .glyphicon {
    cursor: pointer;
    line-height: 34px;
}
.client #plus {
    color: blue;
}
.client #del {
    color: #ff0000;
}

.upload input {
    width: 100%;
    height: 100%;
    position:absolute; 
    right:0; 
    top:0; 
    opacity:0; 
    filter:alpha(opacity=0);
    cursor: pointer;
}
.upload img {
     max-width:300px;
     max-height:300px;
     margin:0 auto;
     display:block;
     margin-top: 5px;
}
