<div class='client'>
    <form class="form-horizontal" name="myForm" novalidate>
        <div class="form-group has-feedback">
            <label for="inputName1" class="col-sm-2 control-label"><span class='sign'>*</span>公司名:</label>
            <div class="col-sm-4">
                <input type="text" name="new_company" class="form-control" id="inputName1" placeholder="建议输入框（请输入公司全称）" required ng-model='new_company'>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_company.$dirty && myForm.new_company.$valid"></span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="inputName2" class="col-sm-2 control-label"><span class='sign'>*</span>联系人:</label>
            <div class="col-sm-4">
                <input type="text" name='new_contact' class="form-control contact" id="inputName2" placeholder="姓名" required ng-model='new_contact'>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_contact.$dirty && myForm.new_contact.$valid"></span>
            </div>
            <div class="col-sm-3"> 
                <input type="text" name='new_contractPhone' class="form-control contact" id="inputName3" placeholder="联系电话" ng-pattern="/^1[3|4|5|7|8]\d{9}$/" ng-minlength="11" ng-maxlength="11" required ng-model='new_contractPhone'>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_contractPhone.$dirty && myForm.new_contractPhone.$valid"></span>
            </div>
            <div class="col-sm-3">
                <input type="text" name='new_deptName' class="form-control contact" id="inputName4" placeholder="部门或职位" required ng-model='new_deptName'>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_deptName.$dirty && myForm.new_deptName.$valid"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">销售经理:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model='selectSalesman' ng-options='x.name for x in salesmans'>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">产品意向:</label>
            <div>
                <div class="col-sm-4">
                    <select class="form-control"  ng-model='product.type' ng-options='x.name for x in purposes'>
                        <option value="">下拉选择</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control"  placeholder="价格" ng-model="product.price">
                </div>
                <div class="glyphicon glyphicon-plus" id='plus' aria-hidden="true" ng-click="addProduct()"></div>
                <div id='newProduct' ng-repeat="product in products" style='margin-top:5px;'>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model='product.type' ng-options='x.name for x in purposes'>
                            <option value="">下拉选择</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="请输入报价">
                    </div>
                    <div class="glyphicon glyphicon-remove" id='del' aria-hidden="true" ng-click="removeProduct(product)">
                    </div>
                </div>                    
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">测试账号:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="请输入测试账号" ng-model='new_testAccount'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="补充说明相关的其他情况" ng-model='new_remark'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class='sign'>*</span>上传名片或营业执照:</label>
            <div class="col-sm-4" ng-controller="UploaderController">
                <div class='upload'>                   
                    <button type="button" class="btn btn-warning" style='width: 100%;'>上传图片</button>
                    <input type="file" file-model="myFile"> 
                    <img ng-src="{{imageSrc}}"/>
               </div>                
            </div>

        </div> 
        <div class="form-group" style='text-align: center;'>
            <button type="button" class="btn btn-warning" ng-disabled="incomplete" ng-click='saveClient()' ng-click='toUrl(#/manager1)'>保存</button>
            <a href="#/manager1"><button type="button" class="btn btn-default" data-dismiss="modal">取消</button></a>
        </div>
    </form>


</div>
