<div>
    <div class="user glyphicon glyphicon-user" aria-hidden="true"></div>
    <div class="first-section">
        <!-- first-left end-->
        <div class="first-right">
            <button type="button" class="btn btn-warning btn-primary" data-toggle="modal" data-target="#addMarket">添加销售经理</button>
        </div>
    </div>
    <!--first-section end -->
    <!--second-section-->
    <div class="second-section">
        <table class="table">
            <tr class='title'>
                <th>姓名</th>
                <th>联系电话</th>
                <th>备注</th>
                <th>数据</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat='saleman in salesmans'>
                <td>{{saleman.name}}</td>
                <td>{{saleman.phone}}</td>
                <td>{{saleman.remark}}</td>
                <td>{{saleman.dealNum}}</td>
                <td>
                    <button type="button" class="btn btn-info btn-primary" data-toggle="modal" data-target="#editMarket" ng-click='editMarket($index)'>编辑</button>
                    <button type="button" class="btn btn-danger btn-primary" data-toggle="modal" data-target="#wantDel" ng-click='wantDel($index)'>删除</button>
                    <!-- 确认删除 model -->
                    <div class="modal fade myModal" id='wantDel' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">确认删除？</h4>
                          </div>

                          <div class="modal-footer">
                            
                            <button type="button" class="btn btn-primary btn-warning" ng-click='delMarket(delId)'>确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.modal -->
                </td>                         
            </tr>                    
        </table>        
    </div>

    <!-- third-section -->
    <div class="third-section">
       <uib-pagination total-items="page.totalCount" ng-model="page.pageNo" max-size="3"  ng-change="pageChanged()" class="samplePage pagination-sm" boundary-link-numbers="true">
       </uib-pagination> 
    </div>  


    <!-- 添加销售经理 Modal -->
    <div class="modal fade myModal" id="addMarket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" name="myForm" novalidate>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"> <span class='sign'>*</span>姓名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name='new_name' placeholder="请输入姓名" required ng-model='new_name'>
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_name.$dirty && myForm.new_name.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>联系电话</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name='new_phone' placeholder="请输入11位号码" required ng-pattern="/^1[3|4|5|7|8]\d{9}$/" ng-model='new_phone' ng-minlength="11" ng-maxlength="11">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_phone.$dirty && myForm.new_phone.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>账号</label>
                            <div class="col-sm-5">
                                <input type="text" name='new_account' class="form-control" placeholder="请输入账号" required ng-model='new_account'>
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_account.$dirty && myForm.new_account.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>密码</label>
                            <div class="col-sm-5">
                                <input type="text" name='new_password' class="form-control" placeholder="不小于6位" required ng-model='new_password' ng-minlength="6">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.new_password.$dirty && myForm.new_password.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model='new_remark'>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-warning" ng-disabled="new_incomplete" ng-click='saveUser()'>保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end-->

    <!-- 编辑销售经理 -->
    <div class="modal fade myModal" id="editMarket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="myForm2" novalidate>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>姓名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name='name' placeholder="请输入姓名" required ng-model='name'>
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm2.name.$dirty && myForm2.name.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>联系电话</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name='phone' placeholder="请输入11位号码" required ng-pattern="/^1[3|4|5|7|8]\d{9}$/" ng-model='phone' ng-minlength="11" ng-maxlength="11">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm2.phone.$dirty && myForm2.phone.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-2 control-label">修改密码</label>
                            <div class="col-sm-5">
                                <input type="text" name='password' class="form-control" placeholder="不小于6位（可不填）" required ng-model='password' ng-minlength="6">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm2.password.$dirty && myForm2.password.$valid"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model='remark'>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-warning" ng-disabled="incomplete" ng-click='saveEditClient(editId)'>保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>