<div>
    <div class="user glyphicon glyphicon-user" aria-hidden="true"></div>
    <div class="first-section">
        <div class="first-left">
            <div class="form-inline">
                <div class="form-group pull">
                    <select class="form-control" ng-model='selectSalesman' ng-options='x.name for x in salesmans'>
                            <option value="">请选择销售经理</option>
                        </select>
                </div>
                <div class="form-group pull">
                    <select class="form-control">
                            <option value="1">A类</option>
                            <option value="2">B类</option>
                            <option value="3">C类</option>
                            <option value="3">D类</option>
                        </select>
                </div>
                <div class="search form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search_text" placeholder="输入关键字">
                         
                        <div id="auto_div"><!-- 自动补全提示框 --></div>
                        <span class="input-group-btn"> 
                            <button class="btn btn-default glyphicon glyphicon-search" aria-hidden="true" ></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- first-left end-->
        <div class="first-right">
            <button type="button" class="btn btn-primary" ng-click='export()'>导出报表</button>
            <a href="#/manager1/addClient"><button type="button" class="btn btn-warning btn-primary">新建客户</button></a>
        </div>
    </div>
    <!--first-section end -->
    <!--second-section 表格-->
    <div class="second-section">
        <table class="table">
            <tr class='title'>
                <th>公司名</th>
                <th>联系人/部门</th>
                <th>产品</th>
                <th>报价</th>
                <th>当前进展</th>
                <th>销售经理</th>
                <th>最新维护日期</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat='client in clients'>
                <td>{{client.company}}</td>
                <td>
                    <p><span>{{client.selectType}}</span>&nbsp{{client.contractName}}
                    <p>{{client.deptName}}
                    <p>{{client.contractPhone}}
                    <p>测试账号：{{client.testAccount}}
                </td>
                <td>
                    <p ng-repeat="list in client.products">{{list.name}}</p>
                </td>
                <td>{{client.price}}</td>
                <td>{{client.lastMessage}}</td>
                <td>{{client.sellName}}</td>
                <td>{{client.lasttime}}</td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#maintain">查看进展</button>
                    <button type="button" class="btn btn-client btn-primary" data-toggle="modal" data-target="#editClient"  ng-click='editClient($index)'>编辑</button>
                    <button type="button" class="btn btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>
    <!--second-section end-->

     <!-- 编辑客户经理 Modal -->
    <div class="modal fade myModal client" id="editClient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName1" class="col-sm-2 control-label"><span class='sign'>*</span>公司名:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="inputName1" placeholder="建议输入框（请输入公司全称）" ng-model='company'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName2" class="col-sm-2 control-label"><span class='sign'>*</span>联系人:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control contact" id="inputName2" placeholder="姓名" ng-model='contractName'>
                            </div>
                            <div class="col-sm-3"> <input type="text" class="form-control contact" id="inputName3" placeholder="联系电话" ng-model='contractPhone'></div>
                            <div class="col-sm-3"><input type="text" class="form-control contact" id="inputName4" placeholder="部门或职位" ng-model='deptName'></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">销售经理:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model='selectSalesman' ng-options='x.name for x in salesmans'>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品意向:</label>
                            <div>
                                <div class="col-sm-4">
                                    <select class="form-control"  ng-model='product.type' ng-options='x.name for x in purposes'>
                                        <option value="">下拉选择</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control"  placeholder="价格" ng-model="product.value" ng-model='perPrice[0]'>
                                </div>
                                <div class="glyphicon glyphicon-plus" id='plus' aria-hidden="true" ng-click="addProduct()"></div>

                                <div id='newProduct' ng-repeat="product in products" style='margin-top:5px;'>
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" ng-model='product.type' ng-options='x.name for x in purposes'>
                                            <option value="">下拉选择</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" placeholder="价格">
                                    </div>
                                    <div class="glyphicon glyphicon-remove" id='del' aria-hidden="true" ng-click="removeProduct(product)">
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">测试账号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入测试账号" ng-model='testAccount'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="补充说明相关的其他情况">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span class='sign'>*</span>上传名片或营业执照:</label>
                            <div class="col-sm-4" ng-controller="UploaderController">
                                <div class='upload'>                   
                                    <button type="button" class="btn btn-warning" style='width: 100%;'>上传图片</button>
                                    <input type="file" file-model="myFile"/> 
                                    <img ng-src="{{imageSrc}}"/>
                               </div>                
                            </div>
                        </div> 
                        <div class="form-group" style='text-align: center;'>
                            <button type="button" class="btn btn-warning">保存</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- 编辑客户 end -->

</div>
